*{
      font-family: "Poppins", sans-serif;

}
.bangla-font{
      font-family: "Hind Siliguri", sans-serif;

}
.banner-section{
      /* display: flex; */
}
.active{
      background-color: #422AD5;
      color: white;
}